{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}


{% block content %}


<section class="header1 cid-qyvisAZ1Bw" id="header1-7" data-rv-view="758">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Responsive Bootstrap About Us Page Template</h1>
                <h6 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM</h6>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-black-outline display-4" href="index.html#form1-4">
                        <button class="btn btn-success">CONTACT US</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-qyvcAqZyNq" id="features1-1" data-rv-view="764">
    <div class="container-md-4 ">
        <div class="media-container-row">
            <div class="card about-card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-users" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Creativity</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        It's the ability to think outside the box. We make decisions, create something new and generate a lot of ideas.
                    </p>
                </div>
            </div>

            <div class="card about-card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-globe" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Worldwide</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                    </p>
                </div>
            </div>

            <div class="card about-card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-smile-face" style="color: rgb(0, 0, 0);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Unique Styles
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section form1 cid-qyvf9K0GGo" id="form1-4" data-rv-view="791">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h5 class="mbr-section-title align-center pb-3 mbr-fonts-style display-4">
                    CONTACT US</h5>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="" hidden="">
                    Thanks for filling out the form!
                </div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL">
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-4">Name</label>
                                <input type="text" class="form-control-contact" name="name" data-form-field="Name" required="" id="name-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="email-form1-4">Email</label>
                                <input type="email" class="form-control-contact" name="email" data-form-field="Email" required="" id="email-form1-4">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-4">Phone</label>
                                <input type="tel" class="form-control-contact" name="phone" data-form-field="Phone" id="phone-form1-4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-for="message">
                        <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Message</label>
                        <textarea type="text" class="form-control-contact" name="message" rows="7" data-form-field="Message" id="message-form1-4"></textarea>
                    </div>
                    <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-black-outline display-4">SEND FORM</button></span>
                </form>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-qyvfbdUvMJ" id="footer6-5" data-rv-view="794">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2018 <a href="https://mobirise.com/bootstrap-template/" class="text-black">Free Bootstrap Templates</a> - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
