{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block content %}
<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Django App!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
	      <a class="btn btn-primary btn-lg" href="/videoportal" role="button">Go to videoportal</a>
    </div>
</div>

<div class="container">
	<h2>Recent Activities</h2>
	<div class="col">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-8 p-4">
        <a class="d-inline-block mb-2 href=" {% url 'blog:post-detail' recent_post.id %} ">
          <h3>{{ recent_post.title }}</h3>
            </a>
            <div class="mb-1 text-muted ">{{ recent_post.date_posted|date:"F d, Y " }}</div>
            <p class="card-text mb-auto ">{{ recent_post.content | truncatechars:200 }}</p>
        <a href=" {% url 'blog:post-detail' recent_post.id %} " class="stretched-link ">Continue reading</a>
      </div>
      <div class="col-4 d-none d-lg-block ">
       <a href="{% url 'blog:post-detail' recent_post.id %} ">
        <img class="imgthumbnail p-3 " width="200 " ; height="250 " ; src="{{ recent_post.blog_logo.url }} ">
      </a>
      </div>
    </div>
  </div>

	<div class="col-12">
    <div class="card p-3 col-3 jumbotron ">
      <div class="card-wrapper">
        <div class="card-img">
          <a href="{% url 'videoportal:video-detail' recent_video.id %}">
            <img class="card-img-thumbnail" src="{{ recent_video.thumbnail.url }}"
             alt={{ recent_videos.title }} title="" media-simple="true"></a>
        </div>
        <div class="card-box">
          <h6 class="card-title pb-3 mbr-fonts-style display-7">
            <a href="{% url 'videoportal:video-detail' recent_video.id %}" class="text-black">{{ recent_video.title }}</a>
          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item-light">{{ recent_video.subtitle1 }}</li>
            <li class="list-group-item-light">{{ recent_video.subtitle2 }}</li>
          </ul>
          <p class="card-text list-group-item-light"><small class="text-muted">{{ recent_video.datetime }} </small></p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}