{% extends "videoportal/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h4>Welcome to Youtube Django Clone</h4><br>
    {% for video in recent_videos %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"><a href='video/{{ video.id }}'>{{ video.title }}</a></h1>
                <p class="lead">{{ video.description }}</p>
                <p style="font-size: 7px; color:gray;">Uploaded on {{ video.datetime }} </p>
                <p style="text-align: right"><a href='video/{{ video.id }}'>Watch Video</a></p>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}
